{% extends "::base.html.twig" %}

{% block title %}AppBundle:Free:showAll{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
        </tr>

        {% for var in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ var.id }}</td>
                <td><a href="{{ url('player', {'id':var.id}) }}">{{ var.title }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {#<ul>#}
    {#{% for animu in anime %}#}
    {#<li>{{ animu.title }}</li>#}
    {#{% endfor %}#}
    {#</ul>#}
{% endblock %}
